cmake_minimum_required(VERSION 3.20)

project({{NAME}} LANGUAGES CXX)

set(CMAKE_CXX_STANDARD 20)
set(CMAKE_CXX_STANDARD_REQUIRED ON)

add_library({{NAME}}
    src/{{NAME}}.cpp
)

target_include_directories({{NAME}}
    PUBLIC
        ${CMAKE_CURRENT_SOURCE_DIR}/include
)
